.container {
  display: flex;
  justify-content: center;
  background-color: #95e8da;
}

.btn {
display: flex;
justify-content: space-evenly;
}

button {
  background-color: #ecb5c0;
  color: chocolate;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}